{% extends "main.html" %}

{% load static %}
{% load i18n %}
{% load allauth %}
{% comment %} {% load socialaccount %} {% endcomment %}

{% block head %}
    <title>Sign in</title>
{% endblock %}


{% block body %}
{% if form.errors %}
    <p class="error">{% trans "Invalid login details. Please try again." %}</p>
{% else %}
{% include 'navbar.html' %}
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="container-fluid">
                    <div class="">
                        <div class="text-center">
                            <p class="fs-2 text-align-center">Welcome to Sebayett</p>
                            <p class="text-wrap my-2">Sign up to access a world of top-tier coaching</p>
                            <!-- <a href="#" class="d-flex btn btn-light my-3">Sign in with Discord</a> -->
                             {% element form method="post" no_visible_fields=True %}
                                {% slot actions %}
                                    {% csrf_token %}
                                    <button class="w-100 btn btn-light my-2" type="submit">
                                         <img class="me-2" src="{% static 'icon/icons8-discord.svg' %}" width="40" height="40" alt="Discord Logo"></img>
                                        {% trans "Sign in with Discord" %}
                                    </button>
                                {% endslot %}
                            {% endelement %}
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    {% endif %}
{% endblock %}