<form id="instructor-form"  class="space-y-4" method="post">
    {% csrf_token %}
    
    {% render_field form.first_name class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" placeholder=form.first_name.label type="text"%}
    {% if form.first_name.errors %}
        <span class="error">{{ form.first_name.errors }}</span>
    {% endif %}


    {% render_field form.last_name class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" placeholder=form.last_name.label type="text"%}
    {% if form.last_name.errors %}
        <span class="error">{{ form.last_name.errors }}</span>
    {% endif %}


    {% render_field form.server_name class="w-full p-2 border border-gray-400 text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 appearance-none" placeholder=form.server_name.label type="text"%}
    {% if form.server_name.errors %}
        <span class="error">{{ form.server_name.errors }}</span>
    {% endif %}


    {% render_field form.server_id class="w-full p-2 border border-gray-400 text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 appearance-none" placeholder=form.server_id.label type="text"%}
    {% if form.server_id.errors %}
        <span class="error">{{ form.server_id.errors }}</span>
    {% endif %}


    {% render_field form.server_interests class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500" placeholder=form.server_interests.label type="text"  %}
    {% if form.server_interests.errors %}
        <span class="error">{{ form.server_interests.errors }}</span>
    {% endif %}


    {% render_field form.server_description class="w-full h-32 p-2 pr-10 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 resize-none" placeholder=form.server_description.label type="textarea" %}
    {% if form.server_description.errors %}
        <span class="error">{{ form.server_description.errors }}</span>
    {% endif %}


    <button
        type="submit"
        class="w-full bg-teal-500 text-white py-2 rounded-full font-medium hover:bg-teal-600"
    >
        Submit
    </button>
    <div class="text-center">
        <div id="loading" class="htmx-indicator">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="response"></div>
    </div>
</form>