<form id="instructor-form"  class="space-y-4" method="post">
    {% csrf_token %}
    <input
        id="firstName"
        type="text"
        required
        class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500"
        placeholder="First Name"
        name="first_name"
    />
    <input
        id="lastName"
        type="text"
        required
        class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500"
        placeholder="Last Name"
        name="last_name"
    />
    <input
        id="serverName"
        type="text"
        required
        class="w-full p-2 border border-gray-400 text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 appearance-none"
        placeholder="Server Name"
        name="server_name"
    />
    <input
        id="serverId"
        type="text"
        required
        class="w-full p-2 border border-gray-400 text-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 appearance-none"
        placeholder="Server ID"
        name="server_id"
        />
    <input
        id="serverInterests"
        type="text"
        required
        class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500"
        placeholder="Server Interest"
        name="server_interests"
    />
    <div class="relative">
        <textarea
        id="serverDescription"
        maxlength="500"
        required
        class="w-full h-32 p-2 pr-10 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-teal-500 resize-none"
        placeholder="Server Description"
        name="server_description"
        ></textarea>
        <span
        id="bio-length"
        class="absolute bottom-2 right-4 text-sm text-gray-600 pb-2"
        >0 / 500</span
        >
    </div>

    <button
        type="submit"
        class="w-full bg-teal-500 text-white py-2 rounded-full font-medium hover:bg-teal-600"
    >
        Submit
    </button>
    <div class="text-center">
        <div id="loading" class="htmx-indicator">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="response"></div>
    </div>
</form>