{% extends "main.html" %}
{% load static %}

{% block head %}
 <title>Server Apply</title>
{% endblock %}

{% block body %}
{% include "navbar.html" %}
<div class="min-h-screen flex flex-col items-center justify-center">
    <h1 class="w-full max-w-md text-xl font-semibold text-center mb-4 mt-4">
      Want To Apply As Server? Fill Out Our Form
    </h1>
    <div
      class="bg-white p-6 rounded-lg shadow-md w-full max-w-md mb-16 border border-gray-400"
    >
     <form id="instructor-form"  class="space-y-4" method="post">
    {% csrf_token %}
    
    {% comment %} {{ form }} {% endcomment %}
    {% comment %} {% include 'servers/form.html' %} {% endcomment %}


    <button
        type="submit"
        class="w-full bg-teal-500 text-white py-2 rounded-full font-medium hover:bg-teal-600"
    >
        Submit
    </button>
</form>
    </div>
  </div>

  {% include 'footer.html' %}
  <!-- Script -->
  <script>
    function toggleMenu() {
      const menu = document.getElementById("menu");
      const menuIcon = document.getElementById("menuIcon");

      const isOpen = menu.classList.contains("hidden");
      if (isOpen) {
        menu.classList.remove("hidden");
        menu.classList.add("block", "shadow-lg", "py-4");
        menuIcon.classList.remove("fa-bars");
        menuIcon.classList.add("fa-times");
      } else {
        menu.classList.remove("block", "shadow-lg", "py-4");
        menu.classList.add("hidden");
        menuIcon.classList.remove("fa-times");
        menuIcon.classList.add("fa-bars");
      }
    }

    const bioTextArea = document.getElementById("serverDescription");
    const bioLengthSpan = document.getElementById("bio-length");

    bioTextArea.addEventListener("input", () => {
      const bioLength = bioTextArea.value.length;
      bioLengthSpan.textContent = `${bioLength} / 500`;
    });
  </script>
{% endblock %}