{% extends "main.html" %}

{% block head %}
    <title>Tickets</title>
{% endblock %}

{% block body %}
<!-- Main Content -->
<div id="main" class="flex-1 transition-all duration-300 ml-0 lg:ml-64">
    {% include 'dashboard/students/sideBarStudent.html' %}
    {% include 'navbar2.html' %}
    
    <div id="dashboard" class="flex flex-col lg:flex-row">
        <div class="flex-1 p-4 sm:p-6">
            <div class="overflow-x-auto">
            <h2 class="text-xl font-bold mb-4">Tickets</h2>
            {% if not tickets %}
            <div>
                <h1>You have no upcoming tickets</h1>
            </div>
            {% else %}
            <table class="w-full bg-white rounded shadow">
                <thead class="bg-gray-100">
                <tr>
                    <th class="p-2 text-sm text-left">Ticket ID</th>
                    <th class="p-2 text-sm text-left">Event Title</th>
                    <th class="p-2 text-sm text-left">Event Date</th>
                    <th class="p-2 text-sm text-left">Event Time</th>
                    <th class="p-2 text-sm text-left">Status</th>
                    <th class="p-2 text-sm text-left">Bought At</th>
                </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr class="border-b">
                    <td class="p-2 text-sm"><a href=>{{ ticket.ticket_id }}</a></td>
                    <td class="p-2 text-sm"><a href=>{{ ticket.event.event_title }}</a></td>
                    <td class="p-2 text-sm"><a href=>{{ ticket.event.event_date }}</a></td>
                    <td class="p-2 text-sm"><a href=>{{ ticket.event.event_time }}</a></td>
                    <td class="p-2 text-sm"><a href=>{{ ticket.ticket_status }}</a></td>
                    <td class="p-2 text-sm"><a href=>{{ ticket.created_at }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            </div>
        </div>
    </div>
    <!-- <div id="dashboard" class="flex flex-col lg:flex-row">
        <div class="flex-1 p-4 sm:p-6">
            <div class="overflow-x-auto">
            <h2 class="text-xl font-bold mb-4">Past Tickets</h2>
            {% if not past_tickets %}
            <div>
                <h1>You have no past tickets</h1>
            </div>
            {% else %}
            <table class="w-full bg-white rounded shadow">
                <thead class="bg-gray-100">
                <tr>
                    <th class="p-2 text-sm text-left">Ticket ID</th>
                    <th class="p-2 text-sm text-left">Event Name</th>
                    <th class="p-2 text-sm text-left">Event Date</th>
                    <th class="p-2 text-sm text-left">Bought At</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in past_tickets %}
                    <tr class="border-b">
                    <td class="p-2 text-sm"><a href=></a></td>
                    <td class="p-2 text-sm"><a href=></a></td>
                    <td class="p-2 text-sm"><a href=></a></td>
                    <td class="p-2 text-sm"><a href=></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            </div>
        </div>
    </div> -->
</div>

{% endblock %}