{% extends "main.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head %}
    <title>Sign in</title>
{% endblock %}


{% block body %}
{% include 'navbar.html' %}
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="container-fluid">
                    <div class="">
                        <div class="text-center">
                            <p class="fs-2 text-align-center">Welcome to Sebayett</p>
                            <p class="text-wrap my-2">Sign up to access a world of top-tier coaching</p>
                            <!-- <a href="#" class="d-flex btn btn-light my-3">Sign in with Discord</a> -->
                            <a href="{% provider_login_url 'discord' %}" class="w-100 btn btn-light my-2" role="click" id="signInAndUp">
                                <img class="me-2" src="{% static 'icon/icons8-discord.svg' %}" width="20" height="20" alt="Discord Logo">
                                </img>
                                Sign in with Discord
                            </a>
                        </div>
                        
                    </div>  
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    {% comment %} <script  defer src="{{ url_for('static', filename='bundles/sign_in.bundle.js')}}"></script> {% endcomment %}
{% endblock %}