<div class="bg-gray-100">
    <footer class="bg-teal-500 text-white py-8 pt-10">
      <!-- Links Section -->
      <div class="container mx-auto text-center">
        <div class="flex flex-wrap justify-center gap-3 mb-4 sm:gap-8">
          <a href="#about" class="hover:underline">About</a>
          <a href="#services" class="hover:underline">Services</a>
          <a href="#portfolio" class="hover:underline">Portfolio</a>
          <a href="#blogs" class="hover:underline">Blogs</a>
          <a href="#contact" class="hover:underline">Contact</a>
        </div>

        <!-- Social Media Links -->
        <div
          class="flex justify-center gap-6 text-xl mb-4 pt-6 pb-10 social-icons"
        >
          <a href="#" class="hover:text-gray-300" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="hover:text-gray-300" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="hover:text-gray-300" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="hover:text-gray-300" aria-label="YouTube">
            <i class="fab fa-youtube"></i>
          </a>
        </div>

        <!-- Footer Text -->
        <p class="text-sm text-gray-200 border-t-2 border-t-gray-600 pt-4">
          © 2025 All rights reserved. This is Your Company
        </p>
      </div>
    </footer>
  </div>