{% extends "main.html" %}

{% load static %}

{% block head %}
  <title>Home</title>
{% endblock %}


{% block body %}
{% include 'navbar.html' %}

<!-- herosection -->
<div class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="container mt-4 mb-4 mx-auto px-6 md:px-20 lg:px-40">
    <div
      class="flex flex-col md:flex-row items-center md:items-start gap-10"
    >
      <!-- Text Section -->
      <div class="flex-1 text-center md:text-left">
        <h1
          class="text-2xl sm:text-3xl lg:text-4xl font-bold text-gray-800 leading-tight"
        >
          Empower Your Discord Community with Sebayett
        </h1>
        <p class="text-gray-600 mt-4 text-sm sm:text-base lg:text-lg">
          Personalized coaching and strategies for server owners to grow and
          engage their communities.
        </p>
        <button
          class="mt-6 px-6 py-3 bg-teal-500 text-white rounded-lg font-medium hover:bg-teal-600"
        ><a href="{% url 'servers:application' %}">
          Join Us
        </a>
        </button>
      </div>

      <!-- Image Section -->
      <div class="flex-1">
        <img
          src="{% static 'assets/heroimg.png' %}"
          alt="Empowering Discord Community"
          class="object-cover w-full max-h-[400px] md:max-h-[500px]"
        />
      </div>
    </div>
  </div>
</div>
<!-- top instructor -->
<div class="bg-gray-50">
  <div class="py-12">
    <div class="container mx-auto px-6 md:px-12">
      <h2 class="text-3xl font-bold text-center text-gray-800 md:text-4xl">
        Top instructor we have
      </h2>
      <div
        class="mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6"
      >
        <!-- Instructor Cards -->
        <div
          class="bg-white shadow-lg rounded-lg overflow-hidden cursor-pointer"
          onclick="navigateToInstructor1()"
        >
          <img
            src="{% static 'assets/i1.png' %}"
            alt="Devon Lane"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-800">Devon Lane</h3>
            <p class="text-gray-600 text-sm">Senior Developer</p>
            <div class="flex items-center justify-between mt-4">
              <div>
                <span class="text-yellow-500 text-lg">★</span>
                <span class="ml-2 text-gray-800 text-sm font-medium"
                  >4.6</span
                >
              </div>
              <div>
                <span class="ml-2 text-gray-800 text-sm font-medium"
                  >854</span
                >
                <span class="ml-2 text-gray-800 text-sm">students</span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-white shadow-lg rounded-lg overflow-hidden cursor-pointer"
          onclick="navigateToInstructor2()"
        >
          <img
            src="{% static 'assets/i2.png' %}"
            alt="Darrell Steward"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-800">Darrell Steward</h3>
            <p class="text-gray-600 text-sm">Digital Product Designer</p>
            <div class="flex items-center justify-between mt-4">
              <div>
                <span class="text-yellow-500 text-lg">★</span>
                <span class="ml-2 text-gray-800 text-sm font-medium"
                  >4.9</span
                >
              </div>
              <div>
                <span class="ml-2 text-gray-800 text-sm font-medium"
                  >454,444</span
                >
                <span class="ml-2 text-gray-800 text-sm">students</span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-white shadow-lg rounded-lg overflow-hidden cursor-pointer"
          onclick="navigateToInstructor3()"
        >
          <img
            src="{% static 'assets/i3.png' %}"
            alt="Jane Cooper"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-800">Jane Cooper</h3>
            <p class="text-gray-600 text-sm">UI/UX Designer</p>
            <div class="flex items-center justify-between mt-4">
              <div>
                <span class="text-yellow-500 text-lg">★</span>
                <span class="ml-2 text-gray-800 text-sm font-medium"
                  >4.8</span
                >
              </div>
              <div>
                <span class="ml-2 text-gray-800 text-sm font-medium"
                  >435,671</span
                >
                <span class="ml-2 text-gray-800 text-sm">students</span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-white shadow-lg rounded-lg overflow-hidden cursor-pointer"
          onclick="navigateToInstructor4()"
        >
          <img
            src="{% static 'assets/i4.png' %}"
            alt="Albert Flores"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-800">Albert Flores</h3>
            <p class="text-gray-600 text-sm">Adobe Instructor</p>
            <div class="flex items-center justify-between mt-4">
              <div>
                <span class="text-yellow-500 text-lg">★</span>
                <span class="ml-2 text-gray-800 text-sm font-medium"
                  >4.7</span
                >
              </div>
              <div>
                <span class="ml-2 text-gray-800 text-sm font-medium"
                  >511,123
                </span>
                <span class="ml-2 text-gray-800 text-sm">students</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Add similar blocks for other instructors -->
      </div>
      <div class="mt-10 text-center">
        <p class="text-gray-600">
          Thousands of students are waiting for an instructor. Start
          teaching & earning now!.
          <a
            href="./Become-Instructor.html"
            class="text-teal-500 font-medium hover:underline inline-flex items-center"
          >
            Become Instructor
            <span class="ml-1">→</span>
          </a>
        </p>
        <button
          class="mt-6 px-6 py-3 bg-teal-500 text-white rounded-lg font-medium hover:bg-teal-600"
          onclick="navigateToBecomeInstructor()"
        >
          Become Instructor
        </button>
      </div>
    </div>
  </div>
</div>

<!-- our story -->
<div class="bg-gray-100 pt-6 py-12 px-6 md:px-16">
  <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8 items-center">
    <!-- Left Content -->
    <div>
      <h2 class="text-3xl font-bold text-gray-800 mb-4">Our Story</h2>
      <p class="text-gray-600 mb-4">
        Welcome to our comprehensive course platform, designed specifically
        for Discord server owners who want to master the art of growing and
        managing successful communities. Our courses cover everything you
        need to know, from setting up your server to mastering advanced
        strategies for engagement, growth, and monetization.
      </p>
      <p class="text-gray-600 mb-4">
        Whether you're new to Discord or looking to take your server to the
        next level, our step-by-step courses provide the knowledge and tools
        necessary to achieve your goals. Learn how to create an engaging
        environment, grow your community effectively, and implement best
        practices for server management and monetization.
      </p>
      <p class="text-gray-600 mb-6">
        Start your journey today with our expert-led courses and transform
        your Discord server into a thriving community.
      </p>
      <button
        id="applyButton"
        class="mt-6 px-6 py-3 bg-teal-500 text-white rounded-lg font-medium hover:bg-teal-600"
      >
        Apply As Server
      </button>
    </div>

    <!-- Right Content -->
    <div class="flex justify-center">
      <div class="image-container">
        <img src="{% static 'assets/ourstory.png' %}" alt="Team" class="shadow-lg" />
        <div class="border-right"></div>
        <div class="border-bottom"></div>
      </div>
    </div>
  </div>
</div>

<!-- our mission -->
<div class="py-12 px-6 md:px-16">
  <div class="max-w-5xl mx-auto grid md:grid-cols-2 gap-8 items-center">
    <!-- Left Section (Image) -->
    <div class="flex justify-center">
      <div class="image-container">
        <img src="{% static 'assets/ourstory.png' %}" alt="Team" class="shadow-lg" />
        <div class="border-right"></div>
        <div class="border-bottom"></div>
      </div>
    </div>

    <!-- Right Section (Content) -->
    <div>
      <h2 class="text-3xl font-bold text-gray-800 mb-4">Our Mission</h2>
      <p class="text-gray-600 mb-4">
        We understand the unique challenges that come with growing and
        maintaining a successful server. That's why our courses are designed
        to provide actionable strategies, from the basics of server setup to
        advanced techniques for increasing engagement, fostering community
        loyalty, and maximizing monetization opportunities.
      </p>
      <p class="text-gray-600 mb-4">
        Our mission is to help you transform your Discord server into a
        dynamic, engaged community that thrives. Whether you're just
        starting out or aiming to scale your server, we are here to guide
        you every step of the way.
      </p>
      <button
        id="createAccountButton"
        class="mt-6 px-6 py-3 bg-teal-500 text-white rounded-lg font-medium hover:bg-teal-600"
      >
        Create Account
      </button>
    </div>
  </div>
</div>

<!-- faq  -->
<div class="bg-gray-50">
  <div class="max-w-4xl mx-auto p-4 mt-12 mb-12">
    <h1 class="text-2xl font-bold text-center mb-6">
      Frequently Asked Questions
    </h1>
    <div class="space-y-4">
      <!-- FAQ Item 1 -->
      <div
        class="faq-item border-2 border-solid border-[#3EA190] bg-blue-100 rounded-lg overflow-hidden shadow-sm closed"
        id="faq1"
      >
        <div
          class="flex justify-between items-center p-4 cursor-pointer"
          onclick="toggleFAQ(1)"
        >
          <h2 class="font-medium text-[#000000]">
            What types of courses do you offer for Discord server owners?
          </h2>
          <span
            class="text-lg font-bold transform text-[#000000]"
            id="faq1-icon"
            >+</span
          >
        </div>
        <div
          class="p-4 bg-blue-100 text-sm text-[#000000] hidden"
          id="faq1-answer"
        >
          We offer a variety of courses tailored to different levels of
          experience and needs. Our courses cover everything from basic
          server setup to advanced strategies for growing your community,
          increasing engagement, and monetizing your Discord server. Whether
          you’re a beginner or an experienced server owner.
        </div>
      </div>

      <!-- FAQ Item 2 -->
      <div
        class="faq-item border-2 border-solid border-[#3EA190] bg-blue-100 rounded-lg overflow-hidden shadow-sm closed"
        id="faq2"
      >
        <div
          class="flex justify-between items-center p-4 cursor-pointer"
          onclick="toggleFAQ(2)"
        >
          <h2 class="font-medium text-[#000000]">
            How can I get started with your courses?
          </h2>
          <span
            class="text-lg font-bold transform text-[#000000]"
            id="faq2-icon"
            >+</span
          >
        </div>
        <div
          class="p-4 bg-blue-100 text-sm text-[#000000] hidden"
          id="faq2-answer"
        >
          You can get started by signing up on our platform and browsing our
          course catalog to find the course that suits your needs.
        </div>
      </div>

      <!-- FAQ Item 3 -->
      <div
        class="faq-item border-2 border-solid border-[#3EA190] bg-blue-100 rounded-lg overflow-hidden shadow-sm closed"
        id="faq3"
      >
        <div
          class="flex justify-between items-center p-4 cursor-pointer"
          onclick="toggleFAQ(3)"
        >
          <h2 class="font-medium text-[#000000]">
            Do your courses cover advanced topics for experienced server
            owners?
          </h2>
          <span
            class="text-lg font-bold transform text-[#000000]"
            id="faq3-icon"
            >+</span
          >
        </div>
        <div
          class="p-4 bg-blue-100 text-sm text-[#000000] hidden"
          id="faq3-answer"
        >
          Yes, we offer advanced courses for experienced server owners,
          including monetization strategies, community management, and
          technical setups.
        </div>
      </div>

      <!-- FAQ Item 4 -->
      <div
        class="faq-item border-2 border-solid border-[#3EA190] bg-blue-100 rounded-lg overflow-hidden shadow-sm closed"
        id="faq4"
      >
        <div
          class="flex justify-between items-center p-4 cursor-pointer"
          onclick="toggleFAQ(4)"
        >
          <h2 class="font-medium text-[#000000]">
            Are the courses live or pre-recorded?
          </h2>
          <span
            class="text-lg font-bold transform text-[#000000]"
            id="faq4-icon"
            >+</span
          >
        </div>
        <div
          class="p-4 bg-blue-100 text-sm text-[#000000] hidden"
          id="faq4-answer"
        >
          Our courses are pre-recorded, allowing you to learn at your own
          pace.
        </div>
      </div>

      <!-- FAQ Item 5 -->
      <div
        class="faq-item border-2 border-solid border-[#3EA190] bg-blue-100 rounded-lg overflow-hidden shadow-sm closed"
        id="faq5"
      >
        <div
          class="flex justify-between items-center p-4 cursor-pointer"
          onclick="toggleFAQ(5)"
        >
          <h2 class="font-medium text-[#000000]">
            How long will it take to see results from the course content?
          </h2>
          <span
            class="text-lg font-bold transform text-[#000000]"
            id="faq5-icon"
            >+</span
          >
        </div>
        <div
          class="p-4 bg-blue-100 text-sm text-[#000000] hidden"
          id="faq5-answer"
        >
          The time to see results depends on your efforts and how quickly
          you apply the knowledge gained. Most users see improvements within
          a few weeks.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="bg-gray-100">
  <footer class="bg-teal-500 text-white py-8 pt-10">
    <!-- Links Section -->
    <div class="container mx-auto text-center">
      <div class="flex flex-wrap justify-center gap-3 mb-4 sm:gap-8">
        <a href="#about" class="hover:underline">About</a>
        <a href="#services" class="hover:underline">Services</a>
        <a href="#portfolio" class="hover:underline">Portfolio</a>
        <a href="#blogs" class="hover:underline">Blogs</a>
        <a href="#contact" class="hover:underline">Contact</a>
      </div>

      <!-- Social Media Links -->
      <div
        class="flex justify-center gap-6 text-xl mb-4 pt-6 pb-10 social-icons"
      >
        <a href="#" class="hover:text-gray-300" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="hover:text-gray-300" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="hover:text-gray-300" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="hover:text-gray-300" aria-label="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
      </div>

      <!-- Footer Text -->
      <p class="text-sm text-gray-200 border-t-2 border-t-gray-600 pt-4">
        © 2024 All rights reserved. This is Your Company
      </p>
    </div>
  </footer>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  // Toggle Sidebar
  const sidebar = document.getElementById("sidebar");
  const openSidebar = document.getElementById("openSidebar");
  const closeSidebar = document.getElementById("closeSidebar");

  openSidebar.addEventListener("click", () => {
    sidebar.classList.remove("-translate-x-full");
  });

  closeSidebar.addEventListener("click", () => {
    sidebar.classList.add("-translate-x-full");
  });
});

  // Function to handle navigation on small screens
  function toggleMenu() {
    const menu = document.getElementById("menu");
    const menuIcon = document.getElementById("menuIcon");

    const isOpen = menu.classList.contains("hidden");
    if (isOpen) {
      menu.classList.remove("hidden");
      menu.classList.add("block", "shadow-lg", "py-4");
      menuIcon.classList.remove("fa-bars");
      menuIcon.classList.add("fa-times");
    } else {
      menu.classList.remove("block", "shadow-lg", "py-4");
      menu.classList.add("hidden");
      menuIcon.classList.remove("fa-times");
      menuIcon.classList.add("fa-bars");
    }
  }
  document
    .getElementById("applyButton")
    .addEventListener("click", function () {
      window.location.href = "./ServerForm.html"; // Navigate to the "Become Server" page
    });

  document
    .getElementById("createAccountButton")
    .addEventListener("click", function () {
      window.location.href = "./Signup.html"; // Redirect to the signup page
    });

  const toggleFAQ = (index) => {
    const faqItem = document.getElementById(`faq${index}`);
    const faqAnswer = document.getElementById(`faq${index}-answer`);
    const faqIcon = document.getElementById(`faq${index}-icon`);

    // Toggle the answer visibility
    faqAnswer.classList.toggle("hidden");

    // Update the icon (rotate it when open)
    faqIcon.textContent = faqAnswer.classList.contains("hidden")
      ? "+"
      : "-";
    faqIcon.classList.toggle("rotate-180");

    // Toggle background color for open/close state
    faqItem.classList.toggle("open");
    faqItem.classList.toggle("closed");
  };

  const socialLinks = document.querySelectorAll(".social-icons a");
  socialLinks.forEach((link) => {
    link.addEventListener("mouseover", function () {
      this.style.color = "#d1d5db"; // Light gray hover color
    });
    link.addEventListener("mouseout", function () {
      this.style.color = ""; // Reset color
    });
  });
</script>

{% endblock %}


