
<!-- Navbar -->
<div class="flex justify-between items-center bg-white p-4 shadow-md">
  <button id="openSidebar" class="text-teal-500 text-2xl lg:hidden">
    ☰
  </button>
  <div>
    <h1 class="text-xl font-bold">Good Morning</h1>
    <p class="text-gray-500">My Courses</p>
  </div>
  <div class="flex items-center gap-4">
    <div class="relative hidden sm:block">
      <span
        class="absolute inset-y-0 left-3 flex items-center text-gray-500"
        >🔍</span
      >
      <input
        type="text"
        placeholder="Search..."
        class="border rounded-lg pl-10 py-1 focus:outline-none focus:ring-2 focus:ring-teal-400"
      />
    </div>
    <button class="relative">
      🔔
      <span
        class="absolute top-0 right-0 bg-red-500 text-white text-xs rounded-full w-4 h-4 flex items-center justify-center"
        >3</span
      >
    </button>
    <div class="flex items-center">
      <!-- <img id="avatar" src="{{ url_for('dashboard.get_avatar') }}" alt="User" class="h-10 w-10 rounded-full"> -->
      <div
        hx-get="{{ url_for('dashboard.get_avatar') }}"
        hx-trigger="load"
        hx-target="this"
      >
      <img id="avatar" src="{{ url_for('dashboard.get_avatar') }}" alt="User" class="h-10 w-10 rounded-full">
      </div>
    </div>
    <div>
      <h2><a href="/">Home</a></h2>
    </div>
  </div>
</div>
<script>
  document.getElementById("avatar").addEventListener("load", async () => {
    // Load Profile Picture
    const imageElement = document.getElementById("avatar");
    imageElement.src = "/dashboard/user/avatar"
  });
  document.addEventListener("DOMContentLoaded", function () {
  // Toggle Sidebar
  const sidebar = document.getElementById("sidebar");
  const openSidebar = document.getElementById("openSidebar");
  const closeSidebar = document.getElementById("closeSidebar");

  openSidebar.addEventListener("click", () => {
    sidebar.classList.remove("-translate-x-full");
  });

  closeSidebar.addEventListener("click", () => {
    sidebar.classList.add("-translate-x-full");
  });
});
</script>