{% extends 'main.html' %}


{% block head %}
<title>Event</title>
{% endblock %}


{% block body %}

<!-- Main Content -->
<div id="main" class="flex-1 transition-all duration-300 ml-0 lg:ml-64">
  {% include "sidebaradmin.html" %}
  {% include "navbar2.html" %}

  <!-- Account Settings -->
  <div class="p-6">
    <h2 class="text-2xl font-bold mb-4">Event Details: {{ data[5] }}</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6" >
        {% if not data %}
        <h2 class="text-2xl font-bold mb-4">You have no upcoming events</h2>
        {% else %}
        <form class="text-center">
            <div>Event Server: </div>
            <p class="text-nowrap bg-body-secondary border" hx-post="/dashboard/admin/server_name/{{ data[1] }}" hx-swap="innerHTML" hx-trigger="load"></p>
            <div>Event Teacher: </div>
              <p class="text-nowrap bg-body-secondary border" hx-post="/dashboard/admin/teacher_name/{{ data[3] }}" hx-swap="innerHTML" hx-trigger="load">{{ data[6] }}</p>
              <div>Event Title: </div>
              <p class="text-nowrap bg-body-secondary border">{{ data[5] }}</p>
              <div>Event Description: </div>
              <p class="text-nowrap bg-body-secondary border">{{ data[6] }}</p>
              <div>Event Date: </div>
              <p class="text-nowrap bg-body-secondary border">{{ data[7].strftime('%Y-%m-%d %H:%M:%S').split(" ")[0]  }}</p>
              <div>Event Time: </div>
              <p class="text-nowrap bg-body-secondary border">{{ data[7].strftime('%Y-%m-%d %H:%M:%S').split(" ")[1] }}</p>

              <div class="text-center">
              </div>
              <div id="loading" class="htmx-indicator">
                  <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                  </div>
              </div>
              <div id="response"></div>
          
        </form> 
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}