{% extends "main.html" %}

{% block head %}

<title>Create Lesson</title>
{% endblock %}

{% block body %}
<!-- Main Content -->
<div id="main" class="flex-1 transition-all duration-300 ml-0 lg:ml-64">
    {% include "dashboard/teachers/sideBarTeacher.html" %}
    {% include "navbar2.html" %}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="container-fluid">
                    <div class="text-center">
                        <p class="fs-2 text-align-center">Here you can create a lesson</p>
                        <form id="instructor-form"  class="space-y-4" method="post">
                            {% csrf_token %}
                                <!-- {% for field in form %}

                                    {% if field.name in 'lesson_title, lesson_category, lesson_description, repeating, start_date, end_date, banner' %}
                                    <lable >{{ field.label_tag }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <span class="error">{{ field.errors }}</span>
                                    {% endif %}
                                    {% endif %}

                                {% endfor %} -->
                            <lable >{{ form.lesson_title.label_tag }}</label>
                                    {{ form.lesson_title }}
                                    {% if form.lesson_title.errors %}
                                        <span class="error">{{ form.lesson_title.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.lesson_category.label_tag }}</label>
                                    {{ form.lesson_category }}
                                    {% if form.lesson_category.errors %}
                                        <span class="error">{{ form.lesson_category.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.lesson_description.label_tag }}</label>
                                    {{ form.lesson_description }}
                                    {% if form.lesson_description.errors %}
                                        <span class="error">{{ form.lesson_description.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.repeating.label_tag }}</label>
                                    {{ form.repeating }}
                                    {% if form.repeating.errors %}
                                        <span class="error">{{ form.repeating.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.start_date.label_tag }}</label>
                                    {{ form.start_date }}
                                    {% if form.start_date.errors %}
                                        <span class="error">{{ form.start_date.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.end_date.label_tag }}</label>
                                    {{ form.end_date }}
                                    {% if form.end_date.errors %}
                                        <span class="error">{{ form.end_date.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.banner.label_tag }}</label>
                                    {{ form.banner }}
                                    {% if form.banner.errors %}
                                        <span class="error">{{ form.banner.errors }}</span>
                                    {% endif %}
                                
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>Check</th>
                                        <th>Day</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ form.monday_check }}</td>
                                        <td>Monday</td>
                                        <td>{{ form.monday_start }}</td>
                                        <td>{{ form.monday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.tuesday_check }}</td>
                                        <td>Tuesday</td>
                                        <td>{{ form.tuesday_start }}</td>
                                        <td>{{ form.tuesday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.wednesday_check }}</td>
                                        <td>Wednesday</td>
                                        <td>{{ form.wednesday_start }}</td>
                                        <td>{{ form.wednesday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.thursday_check }}</td>
                                        <td>Thursday</td>
                                        <td>{{ form.thursday_start }}</td>
                                        <td>{{ form.thursday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.friday_check }}</td>
                                        <td>Friday</td>
                                        <td>{{ form.friday_start }}</td>
                                        <td>{{ form.friday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.saturday_check }}</td>
                                        <td>Saturday</td>
                                        <td>{{ form.saturday_start }}</td>
                                        <td>{{ form.saturday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.sunday_check }}</td>
                                        <td>Sunday</td>
                                        <td>{{ form.sunday_start }}</td>
                                        <td>{{ form.sunday_end }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button
                                type="submit"
                                class="w-full bg-teal-500 text-white py-2 rounded-full font-medium hover:bg-teal-600"
                            >
                                Submit
                            </button>
                        </form>
                    </div>
                    {% comment %} <div class="text-center">
                        <form hx-post="/dashboard/teacher/submitlesson"
                            hx-trigger="submit"
                            hx-indicator="#loading"
                            hx-target="#response">
                            <div class="input-group my-2">
                                <span class="input-group-text">Lesson Title</span>
                                <input type="text" class="form-control" name="lesson_title" id="" required>
                            </div>
                            <div class="input-group my-2">
                                <span class="input-group-text">Lesson Description</span>
                                <textarea type="text" class="form-control" name="lesson_description" id="" required></textarea>
                            </div>
                            <div class="input-group my-2">
                                <span class="input-group-text">Category</span>
                                <select class="form-select" name="category" id="" required>
                                    <option value="">Select...</option>
                                    <option value="math">Math</option>
                                    <option value="history">History</option>
                                    <option value="computer science">Computer Science</option>
                                    <option value="gaming">Gaming</option>
                                </select>
                            </div>
                            <div>
                              
                                <div class="my-2">
                                    {% for day in days %}
                                    <div class="">
                                        <span class="input-group-text">{{ day.capitalize() }}</span>
                                        <div class="input-group">
                                            <div class="input-group-text"><input class="form-check-input" type="checkbox" name="{{ day }}" value="on" ></div>
                                            <label class="input-group-text">Start At</label>
                                            <select class="form-select" name="{{ day }}_start_at" id="">
                                                <option value="">No work</option>
                                                <option value="0">0 AM</option>
                                                <option value="01">1 AM</option>
                                                <option value="02">2 AM</option>
                                                <option value="03">3 AM</option>
                                                <option value="04">4 AM</option>
                                                <option value="05">5 AM</option>
                                                <option value="06">6 AM</option>
                                                <option value="07">7 AM</option>
                                                <option value="08">8 AM</option>
                                                <option value="09">9 AM</option>
                                                <option value="10">10 AM</option>
                                                <option value="11">11 AM</option>
                                                <option value="12">12 AM</option>
                                                <option value="13">1 PM</option>
                                                <option value="14">2 PM</option>
                                                <option value="15">3 PM</option>
                                                <option value="16">4 PM</option>
                                                <option value="17">5 PM</option>
                                                <option value="18">6 PM</option>
                                                <option value="19">7 PM</option>
                                                <option value="20">8 PM</option>
                                                <option value="21">9 PM</option>
                                                <option value="22">10 PM</option>
                                                <option value="23">11 PM</option>
                                                <option value="24">12 PM</option>
                                            </select>
                                            <label class="input-group-text">End At</label>
                                            <select class="form-select" name="{{ day }}_end_at" id="">
                                                <option value="">No work</option>
                                                <option value="00">0 AM</option>
                                                <option value="01">1 AM</option>
                                                <option value="02">2 AM</option>
                                                <option value="03">3 AM</option>
                                                <option value="04">4 AM</option>
                                                <option value="05">5 AM</option>
                                                <option value="06">6 AM</option>
                                                <option value="07">7 AM</option>
                                                <option value="08">8 AM</option>
                                                <option value="09">9 AM</option>
                                                <option value="10">10 AM</option>
                                                <option value="11">11 AM</option>
                                                <option value="12">12 AM</option>
                                                <option value="13">1 PM</option>
                                                <option value="14">2 PM</option>
                                                <option value="15">3 PM</option>
                                                <option value="16">4 PM</option>
                                                <option value="17">5 PM</option>
                                                <option value="18">6 PM</option>
                                                <option value="19">7 PM</option>
                                                <option value="20">8 PM</option>
                                                <option value="21">9 PM</option>
                                                <option value="22">10 PM</option>
                                                <option value="23">11 PM</option>
                                                <option value="24">12 PM</option>
                                            </select>
                                        </div>                                    
                                    </div>
                                    {% endfor %}
                                </div>
                            
                            <div class="input-group">
                                    <div class="input-group-text"><input class="form-check-input" type="checkbox" name="limited_period"></div>
                                    <span class="input-group-text">Limited Period Lesson</span>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text">Start Date</label>
                                <input class="form-control" type="date" id="startDate" name="startDate">
                                <label class="input-group-text">End Date</label>
                                <input class="form-control" type="date" id="endDate" name="endDate">
    
                            </div> 
                            </div>
                                <button class="btn btn-primary" role="submit">Create Lesson</button>
                            </div>
    
                        </form>
                        <div id="loading" class="htmx-indicator">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div id="response"></div>
                    </div>  {% endcomment %}
                </div>
            </div>
            <div class="col-2"></div>
        </div>
</div>

<script>

</script>
{% endblock %}