{% extends "main.html" %}

{% block head %}

<title>Create Lesson</title>
{% endblock %}

{% block body %}
<!-- Main Content -->
<div id="main" class="flex-1 transition-all duration-300 ml-0 lg:ml-64">
    {% include "dashboard/teachers/sideBarTeacher.html" %}
    {% include "navbar2.html" %}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <div class="container-fluid">
                    <div class="text-center">
                        <p class="fs-2 text-align-center">Here you can create a lesson</p>
                        <form id="instructor-form"  class="space-y-4" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <lable >{{ form.lesson_title.label_tag }}</label>
                                    {{ form.lesson_title }}
                                    {% if form.lesson_title.errors %}
                                        <span class="error">{{ form.lesson_title.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.lesson_category.label_tag }}</label>
                                    {{ form.lesson_category }}
                                    {% if form.lesson_category.errors %}
                                        <span class="error">{{ form.lesson_category.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.lesson_description.label_tag }}</label>
                                    {{ form.lesson_description }}
                                    {% if form.lesson_description.errors %}
                                        <span class="error">{{ form.lesson_description.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.start_date.label_tag }}</label>
                                    {{ form.start_date }}
                                    {% if form.start_date.errors %}
                                        <span class="error">{{ form.start_date.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.end_date.label_tag }}</label>
                                    {{ form.end_date }}
                                    {% if form.end_date.errors %}
                                        <span class="error">{{ form.end_date.errors }}</span>
                                    {% endif %}
                            <lable >{{ form.banner.label_tag }}</label>
                                    {{ form.banner }}
                                    {% if form.banner.errors %}
                                        <span class="error">{{ form.banner.errors }}</span>
                                    {% endif %}
                                
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th>Check</th>
                                        <th>Day</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ form.monday_check }}</td>
                                        <td>Monday</td>
                                        <td>{{ form.monday_start }}</td>
                                        <td>{{ form.monday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.tuesday_check }}</td>
                                        <td>Tuesday</td>
                                        <td>{{ form.tuesday_start }}</td>
                                        <td>{{ form.tuesday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.wednesday_check }}</td>
                                        <td>Wednesday</td>
                                        <td>{{ form.wednesday_start }}</td>
                                        <td>{{ form.wednesday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.thursday_check }}</td>
                                        <td>Thursday</td>
                                        <td>{{ form.thursday_start }}</td>
                                        <td>{{ form.thursday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.friday_check }}</td>
                                        <td>Friday</td>
                                        <td>{{ form.friday_start }}</td>
                                        <td>{{ form.friday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.saturday_check }}</td>
                                        <td>Saturday</td>
                                        <td>{{ form.saturday_start }}</td>
                                        <td>{{ form.saturday_end }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.sunday_check }}</td>
                                        <td>Sunday</td>
                                        <td>{{ form.sunday_start }}</td>
                                        <td>{{ form.sunday_end }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button
                                type="submit"
                                class="w-full bg-teal-500 text-white py-2 rounded-full font-medium hover:bg-teal-600"
                            >
                            Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
<script>

</script>
{% endblock %}