    <!-- Sidebar -->
    <div
      id="sidebar"
      class="fixed top-0 left-0 h-full bg-teal-500 z-50 w-64 transform lg:translate-x-0 -translate-x-full transition-transform"
    >
      <div class="p-4 flex justify-between items-center">
        <button id="closeSidebar" class="text-white lg:hidden">✖</button>
      </div>
      <div class="flex flex-col gap-6 mt-10">
        <div class="flex items-center text-white text-sm cursor-pointer pl-3">
          <span class="mr-2 text-2xl">📊</span>
          <span><a href="/dashboard">Dashboard</a></span>
        </div>
      </div>
      <div class="flex flex-col gap-6 mt-10">
        <div class="flex items-center text-white text-sm cursor-pointer pl-3">
          <span class="mr-2 text-2xl">📊</span>
          <span><a href="{% url 'dashboard:teacher_lessons' %}">Lessons</a></span>
        </div>
      </div>
      <div class="flex flex-col gap-6 mt-10">
        <div class="flex items-center text-white text-sm cursor-pointer pl-3">
          <span class="mr-2 text-2xl">📊</span>
          <span><a href="/dashboard/teacher/events">Events</a></span>
        </div>
      </div>
      <div class="flex flex-col gap-6 mt-10">
        <div class="flex items-center text-white text-sm cursor-pointer pl-3">
          <span class="mr-2 text-2xl">📊</span>
          <span><a href="/dashboard/teacher/vacation">Vacations</a></span>
        </div>
      </div>
    </div>
